*{
    background-color: white;
}

.container{ 
    height: 100%;
    width: 100%;
}

.header{
    border-top: 3px;
    border-color: black;
    height: 25px;
}

h1{
    text-align: center;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* img{

} */

.box1{
    display: flex;
    justify-content: space-evenly;
    background-color: #4157b0;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:50px;
    margin-right: 50px;
    padding: 25px;
}

.box2{
    display: flex;
    justify-content: space-evenly;
    background-color: #a354b3;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:50px;
    margin-right: 50px;
    padding: 25px;
}

.box3{
    display: flex;
    justify-content: space-evenly;
    background-color: #c460609a;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:50px;
    margin-right: 50px;
    padding: 25px;
}